openapi: 3.2.0
info:
  title: Shippeo Real-Time Transportation Visibility ETA and Status…
  description: Shippeo is a real-time transportation and multimodal supply-chain visibility platform.
  version: '1.0'
  contact:
    name: Shippeo Developer Portal
    url: https://developers.shippeo.com
  x-grounding:
    confirmed:
    - host https://api.shippeo.com (live; /health returns 200 JSON)
    - OAuth2 client-credentials issuing Bearer access tokens
    - webhook / Events-out event delivery
    - real-time tracking across road, rail, sea, and air with predictive ETAs
    modeled:
    - all operation paths and JSON schemas (portal Swagger is login-gated)
servers:
- url: https://api.shippeo.com
  description: Shippeo production API host (host confirmed live; paths modeled)
security:
- bearerAuth: []
tags:
- name: ETA and Status
  description: Retrieve predictive ETAs, statuses, and milestone events (Events-out, pull).
paths:
  /health:
    get:
      operationId: getHealth
      tags:
      - ETA and Status
      summary: Service health check
      description: Public health probe. CONFIRMED live - responds with a small JSON body such as `{"http-server":{"healthy":true}}`. This is the only endpoint verified without authentication; all others below are modeled.
      security: []
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /transport-orders/{id}/eta:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getTransportOrderEta
      tags:
      - ETA and Status
      summary: Get predictive ETA
      description: MODELED. Returns Shippeo's predictive ETA and current status for a transport order, blended from carrier positions, routing, and historical patterns.
      responses:
        '200':
          description: Predictive ETA and status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Eta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Eta:
      type: object
      properties:
        transportOrderId:
          type: string
        eta:
          type: string
          format: date-time
        status:
          type: string
        confidence:
          type: string
          description: Qualitative confidence in the predictive ETA.
        delayMinutes:
          type: integer
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'HTTP Bearer access token. Tokens are issued via OAuth2 client credentials (client_id / client_secret) obtained by creating an application in the Shippeo Developer Portal. Presented as `Authorization: Bearer ACCESS_TOKEN`.'
